html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Open Sans", "Arial", sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

/* NAVIGATION */

header {
    display: flex;
    background-color: #444444;
    text-transform: uppercase;
    border: none;
    padding-left: 100px;
}

nav > ul {
    display: flex;
    list-style: none; 
    padding-left: 0;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover {
    border-bottom: 1px solid #9AC051;
}

nav li {
    padding-right: 40px;
}

.main-site a {
    font-weight: 700;
}


/* MAIN IMAGE */

.main-img {
    height: 450px;
    background-image: url("../images/dewang-gupta-272186-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.main-text {
    text-align: center;
}

.main-text h1 {
    font-family: "Times New Roman", serif;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}

.main-text h2 {
    font-size: 18px;
    font-weight: 200;
    margin: 25px 0 30px 0;
    line-height: 2;
}

.main-text .offer-btn {
    background-color: #9AC051;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-text .offer-btn:hover {
    background-color: #647e32;
}

/* WHY US */

.why-us {
    height: 300px;
    background-color: #fcfbfb;
    border-bottom: .5px solid #f2f2f2;
    color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px
}

.points h3 {
    font-family: "Times New Roman", serif;
    margin: 0 0 20px 0;
    font-size: 20px;
}

.points ul {
    list-style: none;
    padding-left: 0;
}

.points i {
    color: #9AC051;
    margin-right: 20px;
}

.points li {
    line-height: 30px;
    font-size: 11px;
}

.points li span {
    font-size: 11px;
    font-weight: 600;
}

.why-us .image img {
    border-radius: 2%;
}

/* OFFER */

.offers {
    min-height: 300px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer figure {
    width: 300px;
    background-color: #fcfbfb;
    border: .5px solid #f2f2f2;
    border-radius: 2%;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer .circle-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.offer .skin-therapy {
    background-image: url("../images/love-romantic-bath-candlelight.jpg");
    background-position: bottom;
}

.offer .face-therapy {
    background-image: url("../images/pexels-photo-725998.jpeg");
    background-position: center;
}

.offer .body-therapy {
    background-image: url("../images/pexels-photo-259810.jpeg");
    background-position: center;
}

.offer h4 {
    text-transform: uppercase;
    color: #9AC051;
    font-weight: 200;
}

.offer p {
    text-align: center;
    margin: 0;
    color: #444444;
    font-size: 10px;
    font-weight: 200;
}

.offer .read-more-less-btn {
    background-color: #9AC051;
    color: white;
    font-size: 9px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    margin-top: 20px;
}

.long-desc {
    display: none;
}

/* NEWSLETTER */

.newsletter {
    background-color: #9AC051;
    height: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Times New Roman", serif;
    margin: 0 0 15px 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input,
.newsletter-form button {
    border-radius: 5px;
    border: none;
    font-size: 9px;
}

.newsletter-form button {
    background-color: #647e32;
    color: white;
    padding: 0 15px;
}

.newsletter-form input {
    color: #444444;
    font-weight: 200;
    margin-right: 15px;
    padding: 5px 15px;
    width: 250px;
}

/* GALLERY */

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container i {
    font-size: 24px;
}

.previous-arrow,
.next-arrow {
    color: #f2f2f2;
    padding: 20px;
}

.previous-arrow i:hover,
.next-arrow i:hover {
    color: #9AC051;
    cursor: pointer;
}

.slider {
    padding: 0;
    margin: 40px 0;
    width: 500px;
    display: flex;
    overflow-x: hidden;
}

.slider li {
    list-style: none;
}

.slider li img {
    width: 500px;
    border-radius: 20px;
}

.slider-stage {
    width: 500px;
}

/* PAGE UP */
.go-up {
    color: #444444;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.go-up i {
    font-size: 24px;
}

.go-up i:hover {
    color: #9AC051;
}


/* FOOTER */

footer {
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
    color: #FFFFFF;
}

footer > section {
    width: 200px;
}

/* FOOTER - ABOUT US*/

.about-us h5 {
    font-family: "Times New Roman", serif;
    margin: 0 0 10px 0;
}

.about-us > p {
    font-size: 9px;
    font-weight: 200;
    line-height: 2;
    margin: 0 0 20px 0;
}

.social-media {
    color: #9AC051;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.social-media li {
    height: 20px;
    width: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #9AC051;
    margin-right: 20px;
    cursor: pointer;
}

.social-media i {
    color: white;
}

.social-media a {
    text-decoration: none;
}

/* FOOTER - CONTACT US */

.contact-us {
    margin-left:  25px;
}

.contact-us > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-us li {
    display: flex;
    padding-bottom: 17px;
    font-size: 9px;
}

.contact-us i {
    padding-right: 12px;
    color: #9AC051;
}

.contact-us a {
    font-size: 9px;
    color: #FFFFFF;
    text-decoration: none;
}

/* FOOTER - QUICK LINKS */

.quick-links {
    display: flex;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.quick-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
}

.quick-links li {
    border-bottom: .2px solid #666464;
    padding: 14px 0;
    margin: 0;
}

.quick-links ul li:first-child {
    padding-top: 0;
}

.quick-links ul li:last-of-type {
    border: none;
}

.quick-links a {
    text-decoration: none;
    font-size: 9px;
    color: #FFF;
}

.quick-links i {
    color: #9AC051;
    font-size: 8px;
    padding-right: 5px;
}

/* COPYRIGHTS */
.copyrights {
    padding: 10px 0;
    background-color: #9AC051;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyrights p {
    margin: 0;
    font-size: 10px;
}

.copyrights a {
    font-size: 8px;
    text-decoration: none;
    color: #FFF;
}